.body{
  background: url(img/background.png); 
  background-color: #eaebf0;   
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

/*logotype*/

.logotype{
  background-color: #161616;
}

.logotype__pic{
  padding: 5rem 0;
}

/*content*/

.content{
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.banner__caption{
  text-align: center;
  padding: 0 13rem;
  margin-bottom: 4rem;
}

.banner__title{
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.banner__text{
  margin: 0;
  font-size: 1rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.banner__button{
  font-size: 1rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #fff;
  background-color: black;
  padding: 0.75rem 2rem;
  border: none;
}

.complex__link{
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 3rem;
}

.complex__card__pic{
  width: 490px;
}

.complex__link:hover{
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.3);
}

.complex__card__pic{
  flex-shrink: 0;
}

.complex__card__info{
  padding-top: 1.5rem;
  padding-left: 2rem;
}

.complex__card__info__disctrict{
  margin: 0;
  font-family: "Monaco", "Menlo", "Consolas", "monospace"; 
  font-size: 1rem;
  line-height: 1.5;
  color: #646971;
  padding-bottom: 1.625rem;
}

.complex__card__info__title{
  margin: 0;
  font-size: 2.5rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #000;
  padding-bottom: 1.125rem;
}

.complex__card__info__description{
  margin: 0;
  font-size: 1rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #3e4247;
  padding-right: 5.25rem;
}



