.body{ 
  background-color: #fff;   
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

/*header*/

.header{
  background-color: #fff;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  padding: 1.25rem 0;
  height: 24px;
}

.header__nav__link{
  text-decoration: none;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1;
  list-style: none;
  padding-left: 2rem;
}

.header__nav__link:last-child{
  margin-right: 0;
}

/*title*/

.complex__title{
  border-top: 1px solid #eaebf0;  
}

.complex__title__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.complex__name__caption{
  margin: 0;
  padding-top: 1.5rem;
  font-size: 2rem;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: 500;
}

.complex__name__text{
  margin: 0;
  padding-top: 0.5rem;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #646971;
}

.complex__title__button{
  font-size: 10px;
  line-height: 1;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #00779a;
  padding: 6px 14px;
  border: 1px solid #e0e0e1;
  margin-top: 1.5rem;
}

/*gallery*/

.complex__gallery{
  margin-top: 1.5rem;
}

.complex__gallery__images{
  display: flex;
  overflow-x: hidden;
  justify-content: center;
}

.complex__gallery__pic{
  height: 40px;
}

.complex__gallery__button{
  position: absolute;
  color: #fff;
  background-color: #00779a;
  border: none;
  font-size: 0.625rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 0.5rem 1rem;
  margin-top: -2.5rem;
}

/*info*/

.complex__info{
  margin-top: 1.75rem;
}

.complex__info__wrapper{
  display: flex;
  border-bottom: 3px solid #e0e0e1;
}

.complex__info__title{
  margin: 0;
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
}

.complex__info__title:nth-child(2){
  margin-right: 4.5rem;
}

.complex__info__text{
  display: block;
  font-size: 14px;
  color: #a9afb6;
  font-weight: 300;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

/*complex__details*/

.complex__details__title{
  margin: 0;
  font-size: 1.5rem;
  color: #3e4247;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
  margin-top: 2.5rem;
}

.complex__details__list{
  display: flex;
}

.details__list__termin{
  flex-basis: 50%;
  font-size: 1rem;
  color:#a9afb6;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.details__list__description{
  flex-basis: 50%;
  margin: 0;
  font-size: 1rem;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/*declaration*/

.complex__declaration__wrapper{
  margin-top: 2rem;
  border-bottom: 3px solid #e0e0e1;
}

.complex__declaration__title{
  margin: 0;
  font-size: 1.5rem;
  color: #3e4247;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
}

.complex__declaration__text{
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 1.75rem;
}

.complex__declaration__text:last-child{
  margin-bottom: 1.5rem;
}

/*structure*/

.complex__structure__title{
  margin: 0;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #3e4247;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
}

.complex__structure__item{
  padding-top: 1rem;
  font-size: 1rem;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.complex__structure__item:last-child{
  padding-top: 1rem;
  padding-bottom: 4rem;
}

/*offers*/

.complex__offers{
  background-color: #f4f5f9;
}

.complex__offers__title{
  text-align: center;
  margin: 0;
  padding-top: 4rem;
  font-size: 1.5rem;
  color: #3e4247;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
}

.complex__offer{
  background-color: #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 2rem;
  margin-bottom: 4rem;
}

.complex__offer__title{
  margin: 0;
  font-size: 1.25rem;
  color:#3e4247;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.complex__offer__info{
  margin: 0;
}

.offer__info__title{
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: #a9afb6;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.offer__info__value{
  margin: 0;
  padding-bottom: 1.75rem;
  font-size: 1rem;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.offer__info__button{
  border: none;
  color: #fff;
  background-color: #000000;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

/*Landmark*/

.complex__landmark{
  background-color: #3e4247;
  margin-bottom: 13.5rem;
  padding-bottom: 13.5rem;
}

.complex__landmark__pic{
  margin-top: 4rem;
}

.complex__landmark__name{
  margin: 0;
  font-size: 1.5rem;
  color:#a9afb6;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold; 
  padding-top: 181px;
}

.complex__landmark__title{
  margin: 0;
  font-size: 3rem;
  color: #fff;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
  padding-top: 3rem; 
  padding-bottom: 3.375rem;
}

.complex__landmark__link{
  text-decoration: none;
  font-size: 1rem;
  color: #00779a;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.complex__landmark__pic{
  height: 560px;
}

.complex__landmark__map{
  position: absolute;
  margin: 4rem 0;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.3);
  height: 306px;
}

.complex__landmark__near{
  position: absolute;
  width: 583px;
  margin-top: 4rem;
  background-color: #fff;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.3);
}

.landmark__near__item{
  padding-top: 26px;
  padding-left: 1.5rem;
  border-bottom: 1px solid #e0e0e1;
}

.landmark__near__item:last-child{
  border-bottom: none;
}

.landmark__near__place{
  margin: 0;
  font-size: 1rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color:#3e4247;
  padding-bottom: 0.75rem;
}

.landmark__near__distance{
  margin: 0;
  font-size: 1rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  color: #a9afb6;
  padding-bottom: 26px;
}

/*footer*/

.footer{
  background-color: black;
}

.footer__info,
.footer__nav{
  display: flex;
  flex-direction: column;  
}

.footer__nav{
  padding-top: 2rem;
}

.footer__info__title{
  margin: 0;
  font-size: 0.875rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #646971;
  padding-top: 2rem;
}

.footer__info__text{
  margin: 0;
  font-size: 0.875rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 0.5rem;
}

.footer__info__tel{
  margin: 0;
  font-size: 0.875rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 1rem;
}

.footer__nav{
  padding-top: 2rem;
}

.footer__nav__title{
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #646971;
  padding-top: 1rem;
  border-top: 2px solid #646971; 
}

.footer__nav__link{
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  padding-top: 0.5rem;
}

.footer__nav__link__last{
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  padding-top: 1rem;    
}

.footer__text{
  margin: 0;
  font-size: 11px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #a9afb6;
  padding-top: 6.125rem;
  padding-bottom: 31px;
}