.body{ 
  background-color: #fff;   
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

/*header*/

.header{
  background-color: #fff;
}

.header__wrapper{
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  padding: 1.25rem 0;
}

.header__link{
  text-decoration: none;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1;
  list-style: none;
  padding-left: 2rem;
}

.header__link:last-child{
  margin-right: 0;
}

/*title*/

.title__wrapper{
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name__caption{
  margin: 0;
  padding-top: 1.5rem;
  font-size: 2rem;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
}

.name__text{
  margin: 0;
  padding-top: 0.5rem;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #646971;
}

.title__button{
  font-size: 10px;
  line-height: 1;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #00779a;
  padding: 6px 14px;
  border: 1px solid #e0e0e1;
  margin-top: 1.5rem;
}








/*footer*/

.footer{
  background-color: black;
}

.footer__wrapper{
  margin: 0 1rem;
}

.footer__details,
.footer__live-complexes,
.footer__about{
  display: flex;
  flex-direction: column;  
}

.footer__live-complexes,
.footer__about{
  padding-top: 2rem;
}

.details__title{
  margin: 0;
  font-size: 0.875rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #646971;
  padding-top: 2rem;
}

.details__text{
  margin: 0;
  font-size: 0.875rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 0.5rem;
}

.details__tel{
  margin: 0;
  font-size: 0.875rem;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 1rem;
}

.live-complexes,
.about{
  padding-top: 2rem;
}

.live-complexes__title,
.about__title{
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #646971;
  padding-top: 1rem;
  border-top: 2px solid #646971; 
}

.live-complexes__link,
.about__link{
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #a9afb6;
  padding-top: 0.5rem;
}

.live-complexes__link:last-child{
  padding-top: 1rem;
}

.live-complexes__all{
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #a9afb6;
  padding-top: 1rem;    
}

.live-complexes__all::after{
  content: url(img/combined-shape.png);
  padding-left: 0.5rem;
}

.footer__text{
  margin: 0;
  font-size: 11px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #a9afb6;
  padding-top: 6.125rem;
  padding-bottom: 31px;
}