.body{ 
  background-color: #fff;   
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

/*header*/

.header{
  background-color: #fff;
  border-bottom: 1px solid #eaebf0;
}

.header__wrapper{
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  padding: 20px 0;
}

.header__link{
  text-decoration: none;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  list-style: none;
  padding-left: 32px;
}

.header__link:last-child{
  margin-right: 0px;
}

/*title*/

.title__wrapper{
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name__caption{
  margin: 0;
  padding-top: 24px;
  font-size: 32px;
  font-family: "Philosopher", "Menlo", "Consolas", "monospace";
  font-weight: bold;
}

.name__text{
  margin: 0;
  padding-top: 8px;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #646971;
}

.title__button{
  font-size: 10px;
  line-height: 1;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #00779a;
  padding: 6px 14px;
  border: 1px solid #e0e0e1;
  margin-top: 24px;
}






















/*footer*/

.footer{
  background-color: black;
}

.footer__wrapper{
  margin: 0 16px;
}

.footer__details,
.footer__live-complexes,
.footer__about{
  display: flex;
  flex-direction: column;  
}

.footer__live-complexes,
.footer__about{
  padding-top: 32px;
}

.details__title{
  margin: 0;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #646971;
  padding-top: 34px;
}

.details__text{
  margin: 0;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 8px;
}

.details__tel{
  margin: 0;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 16px;
}

.live-complexes,
.about{
  padding-top: 32px;
}

.live-complexes__title,
.about__title{
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #646971;
  padding-top: 16px;
  border-top: 2px solid #646971; 
}

.live-complexes__link,
.about__link{
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #a9afb6;
  padding-top: 8px;
}

.live-complexes__link:last-child{
  padding-top: 16px;
}

.live-complexes__all{
  font-size: 14px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #a9afb6;
  padding-top: 16px;    
}

.live-complexes__all::after{
  content: url(img/combined-shape.png);
  padding-left: 8px;
}

.footer__text{
  margin: 0;
  font-size: 11px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #a9afb6;
  padding-top: 98px;
  padding-bottom: 31px;
}