body{
  margin: 0 auto;
  padding: 0;
  background: url(img/background.png); 
  background-color: #eaebf0;   
}

/*header*/

.header{
  background-color: #fff;
}

.header__wrapp{
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  padding: 20px 0;
}

.header__link{
  text-decoration: none;
  color: #3e4247;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  list-style: none;
  padding-left: 32px;
}

.header__link:last-child{
  margin-right: 0px;
}

/*banner*/

.banner{
  background-color: #161616;
}

.banner__wrapper{
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__logo{
  margin: 0 auto;
  padding: 80px 0;
}

/*main*/

.main{
  margin-top: 64px;
  margin-bottom: 96px;
}

.main__wrapper{
  margin: 0 8px;
}

.main__caption{
  text-align: center;
  padding: 0 208px;
}

.main__title{
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 8px;
}

.main__text{
  margin: 0;
  font-size: 16px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding-bottom: 16px;
}

.main__button{
  font-size: 16px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #fff;
  background-color: black;
  padding: 12px 32px;
  border: none;
}

.main__list{
  margin-top: 64px;
}

.main__link{
  text-decoration: none;
}

.main__card{
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 50px;
}

.main__card_hover:hover{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.card__pic{
  flex-shrink: 0;
}

.card__info{
  padding-top: 24px;
  padding-left: 32px;
}

.card__subtitle{
  margin: 0;
  font-family: "Monaco", "Menlo", "Consolas", "monospace"; 
  font-size: 16px;
  line-height: 1.5;
  color: #646971;
  padding-bottom: 26px;
}

.card__title{
  margin: 0;
  font-size: 40px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #000;
  padding-bottom: 18px;
}

.card__text{
  margin: 0;
  font-size: 16px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #3e4247;
  padding-right: 84px;
}


/*footer*/

.footer{
  background-color: black;
}

.footer__wrapper{
  margin: 0 16px;
}

.footer__details,
.footer__products,
.footer__about{
  display: flex;
  flex-direction: column;  
}

.footer__products,
.footer__about{
  padding-top: 32px;
}

.details__title{
  margin: 0;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #646971;
  padding-top: 34px;
}

.details__text{
  margin: 0;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 8px;
}

.details__tel{
  margin: 0;
  font-size: 14px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #a9afb6;
  padding-top: 16px;
}

.products,
.about{
  padding-top: 32px;
}

.products__title,
.about__title{
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #646971;
  padding-top: 16px;
  border-top: 2px solid #646971; 
}

.products__link,
.about__link{
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #a9afb6;
  padding-top: 8px;
}

.products__link:last-child{
  padding-top: 16px;
}

.products__all{
  font-size: 14px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #a9afb6;
  padding-top: 16px;    
}

.products__all::after{
  content: url(img/combined-shape.png);
  padding-left: 8px;
}

.footer__text{
  margin: 0;
  font-size: 11px;
  line-height: 1.5;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #a9afb6;
  padding-top: 98px;
  padding-bottom: 31px;
}







