body{
    margin: 0 auto;
    padding: 0;
    width: 1440px;
    background: url(img/background.png); 
    background-color: #eaebf0;   
}

/*header*/

.header{
    background-color: #fff;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header__list{
    list-style: none;
    display: flex;
}

.header__item{
    justify-content: space-between;
    padding-right: 32px;
}

.header__item:last-child{
    padding-right: 0px;
}

.header__link{
    text-decoration: none;
    color: #3e4247;
    font-size: 16px;
    line-height: 2;
}

/*banner*/

.banner{
    background-color: #161616;
}

.banner__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__link{
   margin: 0 auto;
   padding: 80px 0;
}

/*main*/

.main{
    margin-top: 65px;
}

.main__caption{
    text-align: center;
}

